<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BMI Home Page</title>
  </head>
  <body>
    <h1>BMI CALCULATOR</h1>
    <form action="http://localhost:3000/bmi-calculator" method="POST">
      Name:
      <input type="text" name="user_name" /><br>
      Your Weight(Kg):
      <input type="text" name="user_weight" /><br>
      Your Height(Metre):
      <input type="text" name="user_height" /><br>
      <input type="submit" value="Calculate BMI" name="bmi" />
    </form>
 

  </body>
</html>